<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h2>{L_MY_ADS}</h2>

<!-- IF S_AD_LIST -->

	<!-- BEGIN ads -->
	<div class="panel<!-- IF ads.S_ROW_COUNT is even --> bg2<!-- ELSE --> bg1<!-- ENDIF -->">
		<div class="inner">
			<div class="row bg1">
				<p><b>{L_AD_ENABLED}{L_COLON}</b> {ads.AD_ENABLED}</p>
				<p><b>{L_AD_VIEWS}{L_COLON}</b> {ads.AD_VIEWS}<!-- IF ads.AD_VIEW_LIMIT --> [{L_AD_VIEW_LIMIT}{L_COLON} {ads.AD_VIEW_LIMIT}]<!-- ENDIF --></p>
				<p><b>{L_AD_CLICKS}{L_COLON}</b> {ads.AD_CLICKS}<!-- IF ads.AD_CLICK_LIMIT --> [{L_AD_CLICK_LIMIT}{L_COLON} {ads.AD_CLICK_LIMIT}]<!-- ENDIF --></p>
			</div>
			<div class="row bg2">
				<p><b>{L_AD_CREATED}{L_COLON}</b> {ads.AD_TIME}<!-- IF ads.AD_TIME_END --> [{L_AD_TIME_END}{L_COLON} {ads.AD_TIME_END}]<!-- ENDIF --></p>
				<p><b>{L_AD_POSITIONS}{L_COLON}</b> {ads.AD_IN_POSITIONS}</p>
				<p><b>{L_FORUMS}{L_COLON}</b> {ads.AD_IN_FORUMS}</p>
			</div>
		</div>
		<div class="inner">
			<div class="codebox" style="font-size: 1.2em;">
				<p>{L_AD_CODE}{L_COLON}<a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></p>
				<code>{ads.AD_CODE}</code>
			</div>
			<b>{L_PREVIEW}{L_COLON}</b><br />
			<div class="attachbox">{ads.AD_CODE_DISPLAY}</div>
		</div>
	</div>
	<!-- END ads -->

	<br />
	<p>{L_AD_LIST_NOTICE}</p>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
